services:
  maloja:
    image: "krateng/maloja:latest"  # from dockerhub
    container_name: maloja
    ports:
    - "42010:42010"
    volumes:
    - "/docker/appdata/maloja/data:/data"
    environment:
    - "MALOJA_DATA_DIRECTORY=/data"
    networks:
      - scrobble
  multi-scrobbler:
    image: foxxmd/multi-scrobbler
    container_name: multi-scrobbler
    env_file:
      - ../stack.env
    environment:
      - TZ=America/Moncton # Specify timezone from TZ Database name found here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      - JELLYFIN_URL=https://jellyfin.shoebottom.ca
      - MALOJA_URL=http://maloja:42010
      - PUID=1000 # required if running docker on linux host, see main README Docker setup instructions
      - PGID=1000 # required if running docker on linux host, see main README Docker setup instructions

      # set if using a source/client with redirect URI that you have not explicitly set and MS is NOT running on the same machine that you will view the dashboard from
      # EX: You will view MS dashboard at 'http://192.168.0.101:9078' -> set BASE_URL=http://192.168.0.101:9078
      - BASE_URL=https://multi-scrobbler.shoebottom.ca
    volumes:
      - "/docker/appdata/multiscrobbler/config:/config"
    networks:
      - scrobble #optional to add container to the same bridge network that maloja is inside to be able to use docker internal networking & dns to resolve and connect to maloja URL via http://maloja:port
    ports:
      - 9078:9078 # first port is the HOST port multi-scrobbler will serve UI and API on
    restart: unless-stopped
networks:
    scrobble:
        name: scrobble