# Your Discord application data
# 1. Create application at https://discord.com/developers/applications
# 2. Navigate to the OAuth2 tab
# 3. Under "Client information", you'll find the client id and secret. You'll have to press "Reset Secret" to get the secret
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# This is prepended to the user ID before hashing to generate the key used to store their api secret.
# Can be generated via `openssl rand -hex 64`. At least 32 bytes should be used
PEPPER_SECRETS=
# This is prepended to the user ID before hashing to generate the key used to store their settings.
# Can be generated with `openssl rand -hex 64`. At least 32 bytes should be used
PEPPER_SETTINGS=